{% extends 'home/base.html' %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">                                                                                                                                                          
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">QPPI</h1>
        <div class="row center">
            <h5 class="header col s12 light">Quantified Process Personality Inventory</h5>
        </div>
        <div class="row center">
            <a href="{% url 'home:login' %}" class="waves-effect waves-light btn">Log In</a>
        </div>

    </div>
</div>
{% endblock %}