{% extends 'home/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s11 offset-s3">
      <form class="col s12 m8 l6" method='post'>
        {% csrf_token %}
        <div class="card huge">
          <div class="card-content brown-text">
            <span class="card-title center-align">Register</span>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#basic_info">Basic Info</a></li>
                <li class="tab"><a href="#login_info">Login Info</a></li>
            </ul>
          </div>
          <div class="card-content brown-text">
            <div id="basic_info">
                <div class="row">
                  <div class="input-field col s6">
                    {{ form.first_name }}
                  </div>
                  <div class="input-field col s6">
                    {{ form.last_name }}
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s8 offset-s2">  
                    {{ form.email }}
                  </div>
                </div>
            </div>
            <div id="login_info">
                <div class="row">
                  <div class="input-field col s8 offset-s2">  
                    {{ form.username }}
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s8 offset-s2">  
                    {{ form.password1 }}
                  </div>
                </div>  
                <div class="row">
                  <div class="input-field col s8 offset-s2">  
                    {{ form.password2 }}
                  </div>
                </div>
              </div>
            </div>
          <div class="card-action">
            <div class="col s6 offset-s4">
              <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
                  <i class="material-icons right" value="create"/>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}